<%- layout('layouts/base') %>

    <main class="container has-background-light">
        <form action="" id="tagForm">
                <label for="tagSelector">Show by tag</label>
                <select id="tagSelector" name="tag">
                    <option value="">Show all</option>
                    <% for (let tag of tags) { %>
                        <% if (tag === currentTag) { %>
                            <option value="<%= tag %>" selected><%= tag %></option> 
                        <% } else { %> 
                            <option value="<%= tag %>"><%= tag %></option> 
                        <% } %> 
                    <% } %>
                </select>
            </form>
        <div id="gallery" class="mt-5">
            <% for (let artpiece of artpieces) { %>
                <a href="/gallery/<%= artpiece._id %> ">
                    <img src="<%= artpiece.image.thumbnail %> " alt="<%= artpiece.image.filename %>">
                </a>
                <% } %>
        </div>
    </main>
    <script src="/scripts/autoSubmit.js"></script>